includes:
    - ./tools/phpstan/vendor/larastan/larastan/extension.neon
    - ./phpstan-baseline.neon
    - ./tools/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - ./tools/phpstan/vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
parameters:
    level: 8
    tmpDir: tmp/phpstan/
    paths:
        - src/
        - tests/
    excludePaths:
        - tests/Support/database/
        - tests/integration-otel/
    inferPrivatePropertyTypeFromConstructor: true
    checkUninitializedProperties: true
    checkModelProperties: true
    ignoreErrors:
        -
          identifier: missingType.generics
        -
          message: '/Call to an undefined method Illuminate\\Testing\\TestResponse::(content|getData|getStatusCode)\(\)/'
          identifier: method.notFound
        # tests/Unit/GraphQLTest.php and tests/Database/SelectFields/InterfaceTests
        -
          message: '/Call to an undefined method .+::getFields\(\)/'
          identifier: method.notFound
        -
          message: '/Call to an undefined method Mockery\\/'
          identifier: method.notFound
        # tests/Database/AuthorizeArgsTests/TestAuthorizationArgsQuery.php
        -
          message: '/Trying to invoke Closure\|null but it might not be a callable/'
          identifier: callable.nonCallable
        # Mass ignore the raw array property access used in many tests for now
        # See also https://github.com/larastan/larastan/issues/611
        -
          path: tests/*
          message: '/Cannot access property \$[a-z]+ on Rebing\\GraphQL\\Tests\\Support\\Models\\[A-Za-z]+\|null./'
          identifier: property.nonObject

