<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        backupGlobals="false"
        backupStaticProperties="false"
        bootstrap="vendor/autoload.php"
        cacheDirectory=".phpunit.result.cache"
        colors="true"
        processIsolation="false"
        stopOnFailure="false"
>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix="Test.php">./tests/Unit</directory>
    </testsuite>
    <testsuite name="Database">
      <directory suffix="Test.php">./tests/Database</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
